 
 /* table styling */
 table {
  box-shadow: 2px 2px 1px black;
 }
 
 th, td {
    border: 1px solid;
    width: 250px;
    padding: 5px;
    text-transform: capitalize;
    text-align: left;
    background-color: hsl(51, 100%, 70%);
  }
  
th
 {
  font-weight: bold;
 }

 .Implementaion-heading {
  
 }